<h1>New Blog</h1>

<script type="text/javascript">
  $(document).ready(function(){
    $('textarea').autosize();
  });
</script>

<div class="col-xs-10 col-xs-offset-1">
  <%= render 'form' %>
</div>
