<h2>ユーザー登録</h2>

<% if resource_name == :user %>
  <%= render 'normal_user', { resource: resource,  resource_name: resource_name } %>
<% elsif resource_name == :administrator %>
  <%= render 'admin_user', { resource: resource,  resource_name: resource_name } %>
<% end %>
