<h1>ユーザ詳細画面</h1>

<% if @user.profile.present? %>
  <%= render partial: 'profile_field', locals: { user: @user } %>
<% else %>
  <p>プロフィールがまだ登録されていません</p>
<% end %>

<%= link_to 'プロフィール編集', edit_profile_path if @user == current_user %>
