<h3 class="page-header">お知らせ一覧</h3>

<div id="notification" class="collapse">
  <% @notifications.each do |notification| %>
    <div class="well"><%= notification.content %>
    <%= notification.created_at.strftime("%Y/%m/%d") %></div>
  <% end %>
</div>
