<h1>詳細画面</h1>

<%= render partial: 'ticket_detail', locals: { ticket: @ticket } %>

<% if @ticket.user == current_user %>
  <td><%= link_to 'Edit', edit_ticket_path(@ticket) %></td>
  <td><%= link_to 'Destroy', @ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
