<h1><%= @group_talk.name %></h1>

<p><% @group_talk.users.each do |user| %>
  <%= user.profile.nick_name %>,
<% end %></p>

<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
  <%= render partial: 'normal/group_talk_messages/index', locals: { messsages: @messages } if @messages.present? %>
  <%= render partial: 'normal/group_talk_messages/new', locals: { messsage: @message } %>
</div>
