/* header */

#header {
  width: 100%; //固定するために必要
  height: 100px;
  color: #00FF00;
  position: relative;

  #header-logo {
    width: 350px;
    margin-right: auto;
    float: left;
  }

  #global-nav {
    ul {
      width: 800px; //全体の幅からロゴの幅を
      margin-left: 350px; //ロゴの幅だけ左に余白をつける
      list-style: none; //「・」を外すため
      position: absolute;

      li {
        width: 100px;
        float: left; //横並びにする
      }
    }
  }
}
