ul.normal_header_ul {
  width: 261px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    width: 200px;
    margin-right: 5px;
    padding: 2px 0;
    border: 1px #ffb366 solid;
    background-color: #fffdee;
    text-align: center;
  }
}

ul.admin_header_ul {
  width: 261px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    width: 200px;
    margin-right: 5px;
    padding: 2px 0;
    border: 1px #000000 solid;
    background-color: #000000;
    text-align: center;
  }
}
