<p>こんにちは、<%= @resource.user_name %>さん!</p>

<p>パスワード変更のリクエストを受け取りました。以下のURLをクリックしてパスワードの変更手続きをおこなってください。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに見覚えがない場合、スルーしてください。</p>
<p>リンクをクリックしてパスワードを変えない限り、何も起こりません。</p>
